.navbar {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu-bars {
    margin-right: 2rem;
    font-size: 12pt;
    font-family: 'lato', sans-serif;
}

.nav-menu {
    background-color: grey;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
}

.nav-menu.active {
    right: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 6px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f4f4f4;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #2a2a2a; /* the background color for hover */
}

.nav-menu-item {
    width: 100%;
}

.navbar-toggle {
    background: grey;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}